html,body {
  margin: 0;
  padding: 0;
  background-color: #42cef4;
}

.wrapper {
  text-align: center;
   overflow: hidden;
  padding-top: 20px;
}

.weapon {
  font-size: 25pt;
  padding-bottom: 20px;
}

.selection {
  cursor: pointer;
  width: 25%;
}

.left, .right {
  float: left;
  width: 35%;
  text-align: center;
  font-size: 20pt;
}

.left {
  margin-left: 15%;
}

#fight {
  display: none;
}

#fight img {
  margin-top: 20px;
  width: 90%;
}

#result {
  display: none;
  text-align: center;
  font-size: 40pt;
  margin-top: 20px;
}

#start-over {
  display: none;
  text-align: center;
  font-size: 20pt;
  background-color: #FFF;
  width: 180px;
  padding: 10px 5px;
  margin: 25px auto;
  cursor: pointer;
  border: 1px solid;
}

#footer {
  background-color: #b1c0d8;
  margin-top: 100px;
  padding: 15px;
}

a, a:active, a:hover, a:visited {
  color: #FFF;
}